body {
	font-family: 'Inter', sans-serif;
}

code,
pre {
	font-family: 'PT Mono', monospace;
}

.navbar-light {
	background-color: #e5e5e5;
	border-bottom: 2px solid;
	border-color: #d6d6d6;
}

.navbar-nav .dropdown-menu {
	background-color: #e5e5e5 !important;
	border: 0;
	border-radius: 0;
}

.navbar-nav .dropdown-divider {
	border-top: 2px solid !important;
	border-color: #d6d6d6 !important;
}

.alert-dark {
	background-color: #e5e5e5;
	border-color: #d6d6d6;
}

.jumbotron {
	border-radius: 0;
	border: none;
}

.card {
	border: 2px solid;
	border-color: #d6d6d6;
	border-radius: 0;
}

.card-header {
	background-color: #e5e5e5;
}

.card-body {
	flex-grow: 0;
}

a:not(.btn) {
	color: inherit;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-underline-offset: 0.2rem;
}

a:not(.btn):hover {
	text-decoration: underline !important;
}

a.discrete-link,
a.nav-link,
a.nav-link:hover,
a.dropdown-item,
a.dropdown-item:hover {
	color: inherit !important;
	text-decoration: none !important;
}

footer a {
	color: #7d7d7d !important;
	text-decoration: none !important;
}

section .feature-image {
	box-shadow: #d6d6d6 0px 1px 6px 0px;
	max-height: 380px;
}

@media (min-width: 992px) {
	section .feature-image {
		max-width: 425px !important;
	}

	section .feature-image-small {
		max-width: 95% !important;
		max-height: 100% !important;
	}
}

.headline,
.feature-list h2,
.feature-list h3 {
	padding-bottom: 0.2rem;
	text-decoration: underline;
	text-decoration-color: #337ab7;
	text-decoration-thickness: 0.12em;
}

main hr {
	border-top: 1px solid #e5e5e5;
	margin-top: 40px;
	margin-bottom: 0;
	padding-bottom: 40px;
	width: 75%;
	max-width: 290px;
}

main hr.small {
	margin-top: 20px;
	padding-bottom: 20px;
}

footer {
	font-family: 'PT Sans', sans-serif;
	font-size: 11px;
	letter-spacing: -0.04em;
	color: #a7a7a7;
}

.legal-navigation ul {
	list-style-type: none;
	margin: 0 0 0 0;
	padding-left: 0;
}

.legal-navigation li {
	display: inline;
}

.legal-navigation li:not(:first-child):before {
	content: ' | ';
}

.fs-1 {
	font-size: 21px;
}

.fs-2 {
	font-size: 18px;
}

.fs-3 {
	font-size: 14px;
}

.fs-4 {
	font-size: 12px;
}

.lh-sm {
	line-height: 1.25 !important;
}

:target {
	border: 0.5em solid #ffff00;
}

a.lightbox:hover img,
.lightbox-magnifying-glass {
	transform: scale(1.05);
	transition-duration: 0.5s;
}

.lightbox-magnifying-glass {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 2em;
	pointer-events: none;
	opacity: 0;
}

.sl-overlay {
	background: #000
}

.sl-wrapper .sl-close {
	color: #fff;
}

.lightbox:hover .lightbox-magnifying-glass {
	opacity: 1;
	display: inline;
}

.dropdown-toggle:after {
	transition: all 0.25s ease-in-out;
}

.dropdown-toggle.collapsed:after {
	transform: rotate(-90deg);
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
	filter: invert(100%);
}

.carousel-indicators {
	bottom: -1.5em;
}

.carousel-control-prev {
	justify-content: left;
}

.carousel-control-next {
	justify-content: right;
}

.coursel-inner-container {
	height: 600px;
}

.carousel-indicators li {
	opacity: 0.25;
}

@media (min-width: 992px) {
	.coursel-inner-container {
		height: 323px;
	}

	.carousel-control-prev {
		justify-content: right;
	}

	.carousel-control-next {
		justify-content: left;
	}
}

.carousel-item .img-fluid {
	width: auto;
	max-height: 320px;
}
