html {
	height: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
}

.text-row {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.text-row h2 {
	margin-top: 0;
}

.feature-row {
	min-height: 100%;
	display: block;
	align-items: center;
	text-align: center;
}

@media (min-width: 768px) {
	.feature-row {
		min-height: 100%;
		display: flex;
		align-items: center;
	}
}

.primary-head {
	border-radius: 0;
	border: none;
	background-color: #777;
	color: #ffffff;
}

.container-fluid {
	max-width: 1000px;
}

.navbar-brand {
	font-weight: bold;
	letter-spacing: -5px;
	font-size: 2.2em;
	color: #0b024c !important;
	margin-left: 0 !important;
	padding-left: 5px !important;
}

a {
	color: #5cb85c;
}

a:hover {
	color: #337ab7;
	text-decoration: none;
}

a:focus {
	color: #5bc0de;
	text-decoration: none;
}

a.discrete-link {
	color: inherit;
}

a.discrete-link:hover {
	color: #5cb85c;
	text-decoration: none;
}

a.discrete-link:focus {
	color: #337ab7;
	text-decoration: none;
}

.bold {
	font-weight: 500;
}

.feature-image {
	height: auto;
	width: 425px;
	box-shadow: #777 0px 1px 6px 0px;
}

.feature-image-head {
	width: 475px;
}

.feature-image.img-responsive {
	display: inline;
}

code {
	font-family: 'Fira Mono', monospace;
}

.detail-info {
	font-size: 0.7em;
}

.content-separator {
	border-top: 1px solid #dededc;
	padding-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 75%;
	max-width: 290px;
}

.content-separator-2x {
	border-top: 1px solid #dededc;
	margin-top: 40px;
	padding-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 75%;
	max-width: 290px;
}

.content-separator-3x {
	border-top: 1px solid #dededc;
	margin-top: 45px;
	padding-bottom: 45px;
	margin-right: auto;
	margin-left: auto;
	width: 75%;
	max-width: 290px;
}

.discrete-content-separator {
	padding-top: 5px;
	padding-bottom: 5px;
}

.discrete-content-separator-2x {
	padding-top: 10px;
	padding-bottom: 10px;
}

.discrete-content-separator-3x {
	padding-top: 30px;
	padding-bottom: 30px;
}

.footer {
	color: #a7a7a7;
	font-size: 11px;
	font-family: 'News Cycle', sans-serif;
	padding-bottom: 10px;
}

.site-info {
	padding-top: 15px;
}

.legal-navigation {
	font-size: 10px;
}

.legal-navigation ul {
	list-style-type: none;
	margin: 0 0 0 0;
	padding-left: 0;
}

.legal-navigation li {
	display: inline;
}

.legal-navigation li:not(:first-child):before {
	content: ' | ';
}

.site-icon {
	width: 30px;
	height: 30px;
}

.grandmajor-info {
	font-size: 21px;
}

.major-info {
	font-size: 18px;
}

.minor-info {
	font-size: 14px;
}
