body {
	font-family: 'Poppins', sans-serif;
}

.flowtext {
	font-family: 'Merriweather', serif;
}

.navbar-light {
	background-color: #e5e5e5;
	border-bottom: 2px solid;
	border-color: #d6d6d6;
}

.jumbotron {
	border-radius: 0;
	border: none;
	background-color: #595555;
	color: #ffffff;
}

.card {
	border: 2px solid;
	border-color: #d6d6d6;
	border-radius: 0;
}

.card-header {
	background-color: #e5e5e5;
}

.card-body {
	flex-grow: 0;
}

a {
	color: #4c994c;
	transition: all 0.3s;
}

a:hover {
	color: #337ab7;
	text-decoration: none;
	transition: all 0.3s;
}

a:focus {
	color: #ab2230;
	text-decoration: none;
	transition: all 0.3s;
}

a.discrete-link,
a.nav-link {
	color: inherit !important;
}

a.discrete-link:hover,
a.nav-link:hover {
	color: #337ab7 !important;
	text-decoration: none;
}

a.discrete-link:focus,
a.nav-link:focus {
	color: #ab2230 !important;
	text-decoration: none;
}

footer a {
	color: #7d7d7d;
}

.bold {
	font-weight: 500;
}

section .feature-image {
	box-shadow: #d6d6d6 0px 1px 6px 0px;
}

@media (min-width: 992px) {
	section .feature-image {
		max-width: 425px !important;
	}
}

.sketch-underline {
	background: url("/img/sketch_line.svg") 0 100% no-repeat;
	background-size: 70% 0.25rem;
	padding-bottom: 0.4rem;
	background-position: center bottom;
}

main hr {
	border-top: 1px solid #e5e5e5;
	margin-top: 45px;
	margin-bottom: 0;
	padding-bottom: 45px;
	width: 75%;
	max-width: 290px;
}

footer {
	color: #a7a7a7;
	font-size: 11px;
	font-family: 'News Cycle', sans-serif;
}

.legal-navigation {
	font-size: 10px;
}

.legal-navigation ul {
	list-style-type: none;
	margin: 0 0 0 0;
	padding-left: 0;
}

.legal-navigation li {
	display: inline;
}

.legal-navigation li:not(:first-child):before {
	content: ' | ';
}

.grandmajor-info {
	font-size: 21px;
}

.major-info {
	font-size: 18px;
}

.minor-info {
	font-size: 14px;
}

.grandminor-info {
	font-size: 12px;
}

:target {
	background-clip: content-box;
	background-color: #feffe2;
}
